---
title: 
layout: page
mainPadding: py-0
structure:
  g_pageWidth: w-full
  g_sectionTextWidth: 'max-w-screen-xl px-8 md:px-16 lg:px-32'
  g_formID: 9e7890b123777758fb92f2509217b96a
excerpt: # used for page excerpts and META (will be overwritten if SEO used below)
author: shane-robinson # only displayed on Post lists and detail views. Defaults to _data/meta.authorURL
seo: # SEO values are used for OG and will overwrite 'title' and 'excerpt' above
  title:
  description:
  image: # used for OG:image and Twitter:image. Overrides default set in _data/meta.siteImage
pagination:
  data: collections.section
  size: 12
  reverse: true
  alias: sections
---
{% for sectionOrder in sectionOrder.sectionOrder.section %}
    {% set sectionID = sectionOrder.sectionID %}
    {% for section in sections | reverse %}
        {% if section.data.sectionID == sectionID %}
            {% set component = ['components/', section.data.section, '.njk'] %}
            {% set sectionSettings = section.data.sectionSettings %}
            {% include component | join %}
        {% endif %}
    {% endfor %}
{% endfor %}

