---
title: 
layout: page
pageWidth: w-full # used for page width (if empty will take value from structure.g_pageWidth)
excerpt: # used for page excerpts and META (will be overwritten if SEO used below)
author: shane-robinson # only displayed on Post lists and detail views. Defaults to _data/meta.authorURL
eleventyNavigation: # Required if want to display in Main Nav Bar
  key: main # "main" is required
  title: Onepager # as it will appear in the nav
  order: 1 # order to display in the nav (index = 1)
seo: # SEO values are used for OG and will overwrite 'title' and 'excerpt' above
  title:
  description:
  image: # used for OG:image and Twitter:image. Overrides default set in _data/meta.siteImage
pagination:
  data: collections.section
  size: 12
  reverse: true
  alias: sections
---

{% for section in sections | reverse %}

    {% set component = ['components/', section.data.component, '.njk'] %}

    {% set sectionSettings = section.data.sectionSettings %}
    {% include component | join %}


{% endfor %}

